{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	Add Ingredients
{% endblock %}

{% block body_block %}
	<h1 class="central-heading">Add Recipe</h1>
	{% if types %}
		<p class="cat-subheading"> Expand each category to select the ingredients for your recipe:</p>
		<p class="error-message"></p>
		<form class="ingredient-selection" action ="{% url 'pantry:add_recipe_ingredients' %}" method="post" onsubmit="return validateSelection()">
			{% csrf_token %}
			{% get_ingredient_selection types ingredients %}
		</form>
	{% else %}
		<p class="info-message">No ingredients available right now. Please try again later!</p>
	{% endif %}
{% endblock %}