{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	Add recipe
{% endblock %}

{% block body_block %}
	<h1>Add a Recipe</h1>
		<div>
		<form id="RecipeForm" method="post" action="/pantry/add_recipe/ingredients">
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		{% endfor %}
		<input type="submit" name="continue" value="Continue" />
		</div>
{% endblock %}