<!DOCTYPE html>
{% load staticfiles %}
{% load pantry_template_tags %}

<html>
	<head>
		<title>
			{% block title_block %}
				Welcome to
			{% endblock %}
			 - Pantry
		</title>
		<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'styles/pantry.css' %}" type="text/css">	
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	</head>
	
	<body>
		<header class="navbar">
			<div class="navbar-left-align">
				<a href="{% url 'pantry:home' %}">Home</a>
				{% if user.is_authenticated %}
					<a href="{% url 'pantry:add_recipe_ingredients' %}">Add recipe</a>
				{% endif %}
			</div>

			<form id="search-bar" method="post", action="{% url 'pantry:keyword_search_results' %}">
				{% csrf_token %}
				<input class="search-input" type="search" placeholder="Search recipes" aria-label="Search" name="searched">
			</form>
			
			<div class="navbar-right-align">
				{% if user.is_authenticated %}
					<a class="profile-thumbnail" href="{% url 'pantry:user_profile' user.username %}">
						{% if user.profile_pic %}
							<img src="{{ user.profile_pic }}" alt="Profile">
						{% else %}
							<img src="{% static 'img/profile-picture-default.png' %}" alt="Profile">
						{% endif %}
					</a>
					<a href="{% url 'pantry:sign_out' %}">Sign out</a>
				{% else %}
					<a href="{% url 'pantry:check_email' %}">Sign Up/In</a>
				{% endif %}
			</div>
		</header>
		
		<div class="navbar">
			<div class="tabs">
				{% get_tabs category %}
				<div class="tab-primary">
					<a href="{% url 'pantry:search_by_ingredient' %}">
						<span>Search by Ingredient</span>
					</a>
				</div>
			</div>
		</div>
		
		<div>
			{% block body_block %}
			{% endblock %}
		</div>
		
		
	</body>
</html>