<!DOCTYPE html>
{% load staticfiles %}
{% load pantry_template_tags %}

<html>
	<head>
		<title>
			{% block title_block %}
				Welcome to
			{% endblock %}
			 - Pantry
		</title>
		<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.6.0.js"></script> 
		<script type="text/javascript" src="{{ STATIC_URL }} /static/scripts.js"></script> 
		<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
		<link rel="stylesheet" href="{% static 'styles/pantry.css' %}" type="text/css">	
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	</head>
	
	<body>
		<header class="navbar">
			<div class="navbar-left-align">
				<a href="{% url 'pantry:home' %}" id="navbarh-left">Home</a>
				{% if user.is_authenticated %}
					<a href="{% url 'pantry:add_recipe_ingredients' %}" id="navbarh-left-2">Add recipe</a>
				{% endif %}
			</div>

			<form class="search-bar" method="post" action="{% url 'pantry:search_results' %}" >
				{% csrf_token %}
				<input id="search-bar-id" type="search" placeholder="Search recipes" aria-label="Search" name="searched" required>
			</form>
			
			<div class="navbar-right-align">
				{% if user.is_authenticated %}
					<a class="profile-thumbnail" id="navbarh-right-2" href="{% url 'pantry:user_profile' user.pk|get_correct_username %}" id="nohovernavbar">
						{% if user|get_profile_picture %}
							<img src="/media/{{ user|get_profile_picture }}" alt="Profile">
						{% else %}
							<img src="{% static 'img/profile-picture-default.png' %}" alt="Profile">
						{% endif %}
					</a>
					<a href="{% url 'pantry:sign_out' %}" id="navbarh-right">Sign out</a>
				{% else %}
					<p></p>
					<a href="{% url 'pantry:check_email' %}" id="navbarh-right">Sign Up/In</a>
				{% endif %}
			</div>
		
			<div class="tabs">
				{% get_tabs category %}
				<a class="tab-primary" href="{% url 'pantry:search_by_ingredient' %}">
					<span>Search by Ingredient</span>
				</a>
			</div>
		</header>
		
		<div class="main">
			{% block body_block %}
			{% endblock %}
		</div>
		
		
	</body>
</html>