{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	Edit Profile
{% endblock %}

{% block body_block %}
	<p class="edit-prompt">Edit your profile here:</p>
		<form id="form-edit-profile" method="post" action="{% url 'pantry:edit_profile' user.username %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{ edit_profile_form.password }}<br />
			{{ edit_profile_form.confirm_password }}<br />
			{{ edit_profile_form.profile_picture }}<br />
			{% if error %}
				<p class="login-error">{{ error }}</p>
			{% endif %}
			
			<button class="btn-back" type="button" onclick="history.back()">Back</button>
			<input class="btn-continue" type="submit" value="Continue" />
		</form>
	

{% endblock %}