{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<div class="logo">
		<img class="logo-welcome" src="{% static 'img/welcome.png' %}" alt="Welcome to the Pantry">
		<p class="welcome-message">where you can find recipes with ingredients already in your pantry! <br /> Click the orange button to begin!</p>
	</div>
	
	<div class="verticals-two">
		<div class="vertical-featured">
			<h2 class="vertical-title">MOST POPULAR</h2>
			{% if popular_list %}
			<div class="recipes-small-two">
				{% for recipe in popular_list %}
					{% recipe_grid_display recipe small=True %}
				{% endfor %}
			</div>
			{% else %}
			<br />
			<p class="info-message">No popular recipes to display.</p>
			<p class="info-message">Try browsing categories, or search by ingredient!</p>
			<div class="gap-small"></div>
			{% endif %}
		</div>
		
		<div class="vertical-featured">
			<h2 class="vertical-title">MOST RECENT</h2>
			{% if recent_list %}
			<div class="recipes-small-two">
				{% for recipe in recent_list %}
					{% recipe_grid_display recipe True %}
				{% endfor %}
			</div>
			{% else %}
			<br />
			<p class="info-message">No recent recipes to display.</p>
			<p class="info-message">Try browsing categories, or search by ingredient!</p>
			<div class="gap-small"></div>
			{% endif %}
		</div>
	</div>
{% endblock %}