{% load staticfiles %}
{% load pantry_template_tags %}

<div class="dropdown-menu" aria-labelledby="dropdown01">
	<button class="dropdown-main" id="{{ sort_type }}" style="">Sort : &nbsp; {{ sort_type }}  &#9660;</button>
	<div class="dropdown-items">
		{% if sort_type != "Most Popular" %}
		<a class="dropdown-item" id="Most Popular" href="popular">Most Popular</a>
		{% endif %}
		{% if sort_type != "Newest" %}
		<a class="dropdown-item" id="Newest" href="newest">Newest</a>
		{% endif %}
		{% if sort_type != "Oldest" %}
		<a class="dropdown-item" id="Oldest" href="oldest">Oldest</a>
		{% endif %}
	</div>
</div>