{% load staticfiles %}
{% load pantry_template_tags %}

<a class="recipe-grid-{{ size }}" href="{% url 'pantry:show_recipe' recipe.slug %}">
	{% if recipe.picture %}
	<img class="recipe-thumbnail-{{ size }}" src="/media/{{ recipe.picture }}" alt="{{ recipe.name }}" /><br />
	{% endif %}
	<div class="thumbnail-info">
		<div class="main-info-{{ size }}">
			{{ recipe.title }}<br />
		</div>
		<div class="secondary-info-{{ size }}">
			<div class="star-info-{{ size }}">
				<i class="fa-solid fa-star-half-stroke"></i>
				{{ recipe.stars }}
			</div>
			<div class="time-info-{{ size }}">
				<i class="fa-solid fa-clock-rotate-left"></i>
				{{ time|format_time:True }}
			</div>
			{% if percent %}
			<div class="ing-info-{{ size }}">
				&percnt; {{ percent }}
			</div>
			{% endif %}
			<div></div>
		</div>
	</div>
</a>