{% load staticfiles %}
{% load pantry_template_tags %}

<a class="recipe-grid-{{ size }}" href="{% url 'pantry:show_recipe' recipe.slug %}">
	<img class="recipe-thumbnail-{{ size }}" src="/media/recipe_pictures/{{ recipe.slug }}.jpg" alt="{{ recipe.name }}"><br />
	<div class="thumbnail-info">
		<div class="main-info-{{ size }}">
			{{ recipe.title }}<br />
		</div>
		<div class="secondary-info-{{ size }}">
			<div>
				<img class="icon-small" src="{% static 'img/star-light.png' %}" alt="Stars">
				{{ recipe.stars }}
			</div>
			<div>
				<img class="icon-small" src="{% static 'img/timer-light.png' %}" alt="Cooking time">
				{{ time }}'
			</div>
			<div>
			{% if by_ingredient %}
				<img class="icon-small" src="{% static 'img/tick-light.png' %}" alt="Ingredients">
				{{ selected }}/{{ ingredients }}
			{% endif %}
			</div>
				
		</div>
	</div>
</a>