{% load staticfiles %}
{% load pantry_template_tags %}

<div class="dropdown-menu" aria-labelledby="dropdown01" style="float:right;">
	<button class="dropdown-main" style="">Sort : {{ sort_type }}  &#9660;</button>
	<div class="dropdown-items">
		{% if category %}
		<a class="dropdown-item" href="{% url 'pantry:show_category' category.slug 'popular' %}">Most Popular</a>
		<a class="dropdown-item" href="{% url 'pantry:show_category' category.slug 'newest' %}">Newest</a>
		<a class="dropdown-item" href="{% url 'pantry:show_category' category.slug 'oldest' %}">Oldest</a>
		{% else %}
		<a class="dropdown-item" href="{% url 'pantry:keyword_search_results' 'popular' %}">Most Popular</a>
		<a class="dropdown-item" href="{% url 'pantry:keyword_search_results' 'newest' %}">Newest</a>
		<a class="dropdown-item" href="{% url 'pantry:keyword_search_results' 'oldest' %}">Oldest</a>
		{% endif %}
	</div>
</div>