{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	Search by Ingredient
{% endblock %}

{% block body_block %}
	<h1 class="cat-heading"> Search by Ingredient</h1>
	<p class="cat-subheading"> Expand each category to select all the ingredients you want to use today:</p>
	{% if types %}
		{% get_ingredient_selection types ingredients %}
	{% else %}
		<p class="info-message">No ingredients to display yet. Try browsing categories or use the search bar!</p>
	{% endif %}
{% endblock %}

