{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %}
	<div class="cat-header">
		<h1 class="cat-heading">My Recipes</h1>
		{% if recipes %}
			{% get_recipe_sorter recipes sort_type %}
		{% endif %}
	</div>
	
	{% if recipes %}
	<div class="gap-small"></div>
	<div class="recipes-big-three">
		{% for recipe in recipes %}
			{% recipe_display_grid recipe %}
		{% endfor %}
	</div>
	{% else %}
	<p class="info-message">You haven't posted any recipes yet.</p>
	<p class="info-message">If you do, you'll be able to find them here!</p>
	{% endif %}
	
{% endblock %}