{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %}
	<div class="cat-header">
		<h1 class="cat-heading">My Recipes</h1>
		{% if recipes %}
		<ul class="dropdown-menu" aria-labelledby="dropdown01">
			<li><a class="dropdown-item" href="{% url 'pantry:show_recipe' category.slug %}">Filter: Most Popular</a></li>
			<li><a class="dropdown-item" href="{% url 'pantry:show_recipe' category.slug %}">Filter: Least Popular</a></li>
			<li><a class="dropdown-item" href="{% url 'pantry:show_recipe' category.slug %}">Filter: Newest</a></li>
			<li><a class="dropdown-item" href="{% url 'pantry:show_recipe' category.slug %}">Filter: Oldest</a></li>
		</ul>
		{% endif %}
	</div>
	
	{% if recipes %}
		<div class="recipes-big-three">
			{% for recipe in recipes %}
				<a href="{% url 'pantry:show_recipe' recipe.slug %}">{{ recipe }}</a>
			{% endfor %}
		</div>
	{% else %}
		<p class="info-message">You haven't posted any recipes yet.</p>
		<p class="info-message">If you do, you'll be able to find them here!</p>
	{% endif %}
	
{% endblock %}