{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %}
{% if user == user_accessed %}
	{% if recipes %}
	<div class="cat-header">
		<h1 class="cat-heading">Starred Recipes</h1>
		{% get_recipe_sorter sort_type %}
	</div>
	<div class="gap-small"></div>
	<div class="recipes-big-three">
		{% for recipe in recipes %}
			{% recipe_display_grid recipe %}
		{% endfor %}
	</div>
	
	{% else %}
	<h1 class="central-heading">My Recipes</h1>
	<p class="info-message">You haven’t starred any recipes yet.</p>
	<p class="info-message">Start starring to save your favourite recipes here!</p>
	{% endif %}
	<form action="{% url 'pantry:user_profile' user.username %}">
		<input class="btn-continue" id="back-prof-btn" type="submit" value="Back to profile">
	</form>
{% else %}
	<h1 class="central-heading">Invalid user</h1>
	<p class="info-message">Make sure you have the right spelling, and that you're signed in to the correct account!</p>
{% endif %}
{% endblock %}