{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}


{% block title_block %}
	{{ recipe.title }}
{% endblock %}

{% block body_block %}
	{% if recipe %}
	<div class="header-featured">
		<img class="banner" src="/media/{{ recipe.picture }}" alt="{{ recipe.title }}">
		<div class="banner-text">
			<h1 class="cat-heading" id="recipe-title">{{ recipe.title }}</h1>
			<div class="gap-small"></div>
			<div class="info-tags">
				<div class="tag">
					<strong class="recipe-tag-head">Preparation</strong>
					<p class="recipe-tag-info">{{ recipe.prep_time|format_time }}</p>
				</div>
				<div class="tag">
					<strong class="recipe-tag-head">Cooking</strong>
					<p class="recipe-tag-info">{{ recipe.cook_time|format_time }}</p>
				</div>
				<div class="tag">
					<strong class="recipe-tag-head">Difficulty</strong>
					<p class="recipe-tag-info">{{ recipe.difficulty }}</p>
				</div>
				<div class="tag">
					<strong class="recipe-tag-head">Servings</strong>
					<p class="recipe-tag-info">{{ recipe.servings }}</p>
				</div>
				<div class="tag">
					<img class="icon-big recipe-tag-head" src="{% static 'img/star-orange.png' %}" alt="Stars">
					<p class="recipe-tag-info" id="starinfo">{{ recipe.stars }}</p>
				</div>
			</div>
		</div>
		
		
		{% if user.is_authenticated and not user.is_staff %}
			{% if not user|check_if_starred:recipe %}
			<button class="btn-inverted" id="star-btn" type="button" onclick="star()">
				<span id="star-icon">&star;</span><span id="star-text">&nbsp; Star</span>
			</button>
			{% else %}
			<button class="btn-inverted" id="star-btn" type="button" onclick="unstar()">
				<span id="star-icon">&starf;</span><span id="star-text">Unstar</span>
			</button>
			{% endif %}
			{% if user == recipe.author %}
			<button class="btn-inverted" id="del-btn" type="button" onclick="confirmDelete()">
				<span id="del-icon">&#128465;</span><span id="del-text"> Delete</span>
			</button>
			{% endif %}
		{% endif %}
		
		<i id="author">Posted by <a href="{% url 'pantry:user_recipes' recipe.author.username %}">{{ recipe.author.username }}</a></i>
	</div>
	
	
	{% if categories %}
	<div class="category-tags">
		{% for cat in categories %}
		<a class="cat-tag" href="{% url 'pantry:show_category' cat.slug %}">{{ cat.name }}</a>
		{% endfor %}
	</div>
	{% endif %}
	
	
	<div class="verticals-left-narrow">
		<div>
			<div class="vertical-featured" id="ingredients">
				<h2 class="vertical-title">INGREDIENTS</h2></br>
				{% if ingredients %}
					<ul class="ingredient-list">
						{% for ing in ingredients %}
							<li class="ingredient">{{ ing.quantity }} {{ ing.ingredient|get_number:ing.plural }}</li>
						{% endfor %}
					</ul><br />
				{% else %}
					<p class="info-message">No ingredients required for this recipe!</p>
					<div class="gap-small"></div>
				{% endif %}
			</div>
		</div>
		<div class="vertical">
			<h2 class="vertical-title">METHOD</h2></br>
			<ol>
			{% for step in method %}
				{% if step %}
				<li class="long-text">{{ step }}</li><br />
				{% endif %}
			{% endfor %}
			</ol>
		</div>
	</div>
		
	{% else %}
	<h1 class="central-heading">We couldn't find this recipe...</h1>
	<p class="info-message">Maybe the author deleted it, or something went wrong - make sure you have the right link!</p>
	{% endif %}

	
<script>
	
	function star() {
		var username = "{{ user.username }}";
		var recipe_name_slug = "{{ recipe.title }}";

		$.ajax({
			url: 'star/' + username,
			data: {
          		'recipe_name_slug': recipe_name_slug,
				'username' : username
        	},
			dataType: 'json',
			success: function () {
				var button = document.getElementById("star-btn");
				var icon = document.getElementById("star-icon");
				var text = document.getElementById("star-text");
				var counter = document.getElementById("starinfo");
		
				icon.innerHTML = '&starf;';
				text.innerHTML = 'Unstar';
				button.setAttribute('onclick','unstar()');
				counter.innerHTML++;
			}
		});

    };

	function unstar() {
		var username = "{{ user.username }}"
		var recipe_name_slug = "{{ recipe.title }}"

		$.ajax({
			url: 'unstar/' + username,
			data: {
          		'recipe_name_slug': recipe_name_slug,
				'username' : username
        	},
			dataType: 'json',
			success: function () {
				var button = document.getElementById("star-btn");
				var icon = document.getElementById("star-icon");
				var text = document.getElementById("star-text");
				var counter = document.getElementById("starinfo");

				icon.innerHTML = '&star;';
				text.innerHTML = '&nbsp; Star';
				button.setAttribute('onclick','star()');
				counter.innerHTML--;
			}
		});

    };

	function confirmDelete() {
		var button = document.getElementById("del-btn");
		var text = document.getElementById("del-text");
		var icon = document.getElementById("del-icon");
		var text = document.getElementById("del-text");
		
		text.innerHTML = 'Are you sure?';
		button.id = "del-btn-ext";
		icon.id = "del-icon-ext";
		text.id = "del-text-ext";
		button.setAttribute("onclick", "del()");
    };

	function del(){
		var username = "{{ user.username }}"
		var recipe_name_slug = "{{ recipe.title }}"

		$.ajax({
			url: 'delete_recipe/' + username,
			data: {
          		'recipe_name_slug': recipe_name_slug,
				'username' : username
        	},
			dataType: 'json',
			success: function () {
				window.location = "/pantry/home";
			}
		});
	}
	
		
	
</script>
{% endblock %}