{% extends 'pantry/base.html' %}
{% load staticfiles %}
{% load pantry_template_tags %}

{% block title_block %}
	My Profile
{% endblock %}

{% block body_block %}
{% if user == user_accessed %}
	<div class="header-featured">
		<img class="banner" id="profile-banner" src="{% static 'img/profile-banner-default.png' %}" alt="User profile">
		<div class="profile-picture-area">
			{% if profile_picture %}
			<img class="profile-picture-big" src="/media/{{ user_profile.profile_picture }}" alt="User {{ user.username }}">
			{% else %}
			<img class="profile-picture-big" src="{% static 'img/profile-picture-default.png' %}" alt="User profile">
			{% endif %}
			<h1 class="central-heading" id="username">{{ user.username }}</h1><br />
			<div class="profile-buttons">
				<form action="{% url 'pantry:add_recipe_ingredients' %}">
					<button class="btn-inverted" type="submit" value="Add Recipe">
						<img class="icon-big" id="add" src="{% static 'img/plus-dark.png' %}" alt="Add recipe">
						Add recipe
					</button>
				</form>
				<form action="{% url 'pantry:edit_profile' user.username %}">
					<button class="btn-inverted" type="submit" value="Edit Profile">
						<img class="icon-big" id="edit" src="{% static 'img/pencil-dark.png' %}" alt="Edit profile">
						Edit profile
					</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="verticals-two">
		<div class="vertical-featured">
			<h2 class="vertical-title">MY RECIPES</h2>
			{% if written_recipes %}
			<div class="recipes-small-two">
				{% for recipe in written_recipes %}
					{% recipe_grid_display recipe small=True %}
				{% endfor %}
			</div>
			<a class="link-message" href="{% url 'pantry:my_recipes' user.username %}"><i>view all ({{ written_count }})...</i></a>
			{% else %}
			<br />
			<p class="info-message">You haven't posted any recipes yet.</p>
			<p class="info-message">If you do, you'll be able to find them here!</p>
			<div class="gap-small"></div>
			{% endif %}
		</div>
		
		<div class="vertical-featured">
			<h2 class="vertical-title">STARRED RECIPES</h2>
			{% if starred_recipes %}
			<div class="recipes-small-two">
				{% for recipe in starred_recipes %}
					{% recipe_grid_display recipe small=True %}
				{% endfor %}
			</div>
			<a class="link-message" href="{% url 'pantry:starred_recipes' user.username %}"><i>view all ({{ starred_count }})...</i></a>
			{% else %}
			<br />
			<p class="info-message">You haven’t starred any recipes yet.</p>
			<p class="info-message">Start starring to save your favourite recipes here!</p>
			<div class="gap-small"></div>
			{% endif %}
		</div>
	</div>
{% else %}
	<h1 class="central-heading">Invalid user</h1>
	<p class="info-message">Make sure you have the right spelling, and that you're signed in to the correct account!</p>
{% endif %}

<script>
	var buttons = document.getElementsByClassName("btn-inverted");
	var add = document.getElementById("add");
	var edit = document.getElementById("edit");

	buttons[0].addEventListener("mouseover", function(event) {
		add.src = "{% static 'img/plus-light.png' %}"
	});
	buttons[0].addEventListener("mouseleave", function(event) {
		add.src = "{% static 'img/plus-dark.png' %}"
	});
	
	buttons[1].addEventListener("mouseover", function(event) {
		edit.src = "{% static 'img/pencil-light.png' %}"
	});
	buttons[1].addEventListener("mouseleave", function(event) {
		edit.src = "{% static 'img/pencil-dark.png' %}"
	});
</script>

{% endblock %}

