:root {
    --dark: #360016; 
	--medium: #E5E2E1;
	--light: #DCDCDC;
	--bg: #f8f8f8;
	--burgundy: #64101F;
	--orange: #F48D14;
	--green: #6DD140;
	--red: #CD0000;
}


/* GENERAL */
html {
	background-color: var(--bg);
	padding-bottom: 15px;
}

html * {
    font-family: Franklin Gothic, Tahoma, Microsoft Sans Serif, Arial, sans-serif;
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
	color: var(--dark);
	text-align: center;
}

a {
	text-decoration: none;
}

.main {
	padding-top: 110px;
}

.logo {
	position: relative;
	bottom: 20px;
}

.logo img {
	width: calc(6vw + 400px);
}

.cat-heading {
	font-size: 19pt;
}

.cat-subheading, .login-prompt {
	font-size: 14pt;
	padding: 5px 0px 10px 0px;
}

.welcome-message {
	position: relative;
	bottom: 15px;
	font-style: italic;
	font-size: 12pt;
}

.info-message {
	position: relative;
	top: 10px;
	font-style: italic;
}

.gap {
	height: calc(5vw + 100px);
	width: 0px;
}

.gap-small {
	height: calc(0.1vw + 130px);
	width: 0px;
}

input {
	background-color: var(--light);
	color: var(--dark);
	width: calc(20vw + 200px);
	height: 30px;
	font-size: 11pt;
	border: none;
	opacity: 0.9;
	margin-bottom: 10px;
}

button {
	border: none;
	border-radius: 30px;
}

.btn-continue {
	background-color: var(--burgundy);
	color: var(--bg);
	height: 60px;
	width: 120px;
	border-radius: 30px;
	font-size: 15pt;
	margin: 5px;
}

.btn-back {
	background-color: var(--dark);
	color: var(--bg);
	height: 60px;
	width: 120px;
	border-radius: 30px;
	font-size: 15pt;
	margin: 5px;
}

.btn-continue:hover, .btn-back:hover {
	background-color: var(--light);
	color: var(--dark);
}

.icon-small {
	width: 13px;
	height: 13px;
}

.icon-big {
	width: 25px;
	height: 25px;
}

.profile-picture-big {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 100px;
}



/* NAVBAR & TABS */
.navbar {
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 45px;
	line-height: 45px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	background-color: var(--dark);
}

.navbar * {
	background-color: var(--dark);
	color: var(--bg);
	white-space: nowrap;
}

.navbar #navbarh {
	display: block;
}

.navbar-left-align a:hover, .navbar-right-align a:hover{
	background-color: var(--burgundy);
}

#nohovernavbar:hover{
	background-color: var(--dark);
}

.tabs {
	background-color: var(--burgundy);
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: calc(35vw - 250px);
	padding-right: calc(35vw - 250px);
	position: fixed;
	top: 45px;
}

.navbar-left-align {
	float: left;
	width: 200px;
	text-align: left;
	pointer-events: none;
	columns:2;
}

.navbar-right-align {
	float: right;
	width: 200px;
	text-align: right;
	pointer-events: none;
	columns:2;
}

.navbar-left-align *, .navbar-right-align * {
	height: 45px;
	line-height: 45px;
	pointer-events: auto;
}

.profile-thumbnail * {
	position: relative;
	top: 7px;
	object-fit: cover;
	width: 25px;
	height: 25px;
	border-radius: 90px;
	padding: 0px;
}

.tabs * {
	background-color: var(--burgundy);
	float: left;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
}

.tabs *:hover {
	background-color: var(--light);
	color: var(--burgundy);
}

.tab-primary {
	pointer-events: none;
}

.tab-primary * {
	pointer-events: auto;
}

.tab-primary, .tab-primary * {
	background-color: var(--orange);
	color: var(--bg);
	padding-right: calc(35vw - 242.5px);
}


.tab-primary-open a {
	background-color: var(--bg);
	color: var(--orange);
}

.search-bar * {
	background-color: var(--light);
	color: var(--dark);
	width: calc(20vw + 100px);
	height: 25px;
	font-size: 10pt;
	border-radius: 30px;
}


/* RECIPE THUMBNAILS */
.recipes-small-two {
	display: flex;
	padding: 15px;
	flex-wrap: wrap;
}

.recipe-grid-small {
	position: relative;
	flex: 1;
	left: 10px;
}

.recipe-grid-small * {
	max-width: calc(5vw + 100px);
	text-align: left;
}

.recipe-thumbnail-medium {
	object-fit: cover;
	width:calc(5vw + 100px);
	height:calc(5vw + 100px);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.recipes-big-three {
	margin-top: 200px;
	display: flex;
	flex:1;
	padding: 15px;
	flex-wrap: wrap;
	object-fit: cover;
	width:calc(5vw + 1000px);
	height:calc(5vw - 100px);
	position:relative;
}

.recipes-big-three {
	margin-top: 200px;
	display: flex;
	flex:1;
	padding: 15px;
	flex-wrap: wrap;
	object-fit: cover;
	width:calc(5vw + 1000px);
	height:calc(5vw - 100px);
	position:relative;
}

.recipe-grid-small:hover .thumbnail-info{
	opacity:0.0;
}

.recipe-grid-small:hover img{
	opacity:0.5;
}

.thumbnail-info {
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.thumbnail-info * {
	background-color: var(--dark);
	color: var(--bg);
}

.main-info {
	width:calc(10vw + 90px);
	font-size: 15pt;
}

.secondary-info {
	display: flex;
	justify-content: space-between;
	font-size: 10pt;
	padding-left: 5px;
	opacity: 0.8;
}

/* VERTICALS */

.verticals-two {
	display: flex;
	justify-content: space-between;
	padding-right: calc(35vw - 235px);
	padding-left: calc(35vw - 235px);
}

.vertical-featured {
	background-color: var(--medium);
	width: calc(12vw + 250px);
	float: left;
	padding-bottom: 10px;
}

.vertical-title {
	font-size: calc(0.3vw + 18px);
	position: relative;
	top: 15px;
}


/* COLLAPSIBLE ACCORDION */
.ingredient-selection {
	padding: 0px calc(40vw - 235px) 0px calc(40vw - 235px);
}

.collapsible {
	cursor: pointer;
	height:45px;
	width: 100%;
	border-radius: 0px;
	padding: 15px 15px 32px 15px;
	margin: 5px 0px 5px 0px;
	text-align:center;
	text-transform: uppercase;
	background-color: var(--medium);
}

.collapsible span {
	position: relative;
	right: 10px;
	font-size: 13pt;
}

.collapsible-active, .collapsible-active * {
	background-color: var(--orange);
	color: var(--bg);
}

.collapsing {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 5px 100px 5px 100px;
}

.option {
	white-space: nowrap;
	width: 100px;
	text-align: left;
}

.option label {
	position: relative;
	bottom: 2px;
}

.checkbox {
	width: 15px;
	height: 15px;
	margin: 0px;
	padding: 0px;
}

.collapsible:after {
	content: "\02795";
	font-size: 13px;
	float: left;
	margin-left: 5px;
}
  
.collapsible-active:after {
	content: "\2796";
}

#ingr-btn {
	position: fixed;
	bottom: 50px;
	right: calc(25vw - 150px);
}


/* WINDOW RESIZE */

@media only screen and (max-width: 610px) {
	.tab-primary a span{
		display: none;
	}
	
	.recipe-grid-small * {
		max-width: calc(5vw + 80px);
		left: -7px;
	}
	
	.logo img {
		max-width: 75vw;
	}
}

/* Dropdown CSS (This has also been inspired by the w3schools dropdown menu section) */

.dropdown-menu {
	position: relative;
	display:inline-block;
}

.dropdown-main{
	background-color:var(--light);
	border-radius: 50px;
	color:var(--dark);
	margin-right: 50px;
	padding: 5px;
	float:right;
	position: relative;
	display:inline-block;
}

.dropdown-items{
	display:none;
	background-color:#f8f8f8;
	color:var(--dark);
	min-width:160px;
	z-index:1;
	float:right;
	right:0;
	position: absolute;
}

.dropdown-items a{
	background-color:var(--light);
	color:var(--dark);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-menu:hover .dropdown-items {
	background-color:var(--light);
	display:block;
	color:var(--dark);
}